footer {
	background-color: black;
	color: white;
	font-size: 18px;
}
footer * {
	box-sizing: border-box;
}
.row {
	padding: 1em 1em;
}
.row.primary {
	display: grid;
	grid-template-columns: 3fr 2fr 4fr;
	align-items: stretch;
}
.column {
	margin-left: 10%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 2em;
	color: #a7a7a7;
}
.column.link {
	margin-left: 50%;
}
.column.contact {
	margin-left: 40%;
}
.column:hover {
	color: #e9e8e8;
}
h3 {
	width: 100%;
	text-align: left;
	color: white;
	font-size: 1.4em;
	white-space: nowrap;
}
ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
/* li:not(:first-child) {
  margin-top: 0.8em;
} */
ul li a {
	color: #a7a7a7;
	font-size: 18px;
	text-decoration: none;
}
ul li a:hover {
	color: #e9e8e8;
}
input,
button {
	font-size: 1em;
	padding: 1em;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 5px;
}
button {
	background-color: #c70a9e;
	color: #ffffff;
	cursor: pointer;
}
div.social {
	margin-top: 8px;
	font-size: 2.4em;
	flex-direction: row;
}
.social i {
	color: #bac6d9;
}
/* 
.copyright {
	padding: 0.1em 1em;
	background-color: #20262e;
} */
.footer-menu {
	margin-top: 20px;
}
.footer-menu a {
	color: #cfd2d6;
	padding: 6px;
	text-decoration: none;
}
.footer-menu a:hover,
.social i:hover {
	color: #660433;
}
.copyright p {
	font-size: 0.9em;
	text-align: right;
}
@media screen and (max-width: 850px) {
	.row.primary {
		grid-template-columns: 1fr;
	}
}
body {
	overflow-x: hidden; /* Hide horizontal scrollbar */
}
