@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

.copyright {
	color: #e00000;
}

.card-body {
	height: 170px;
	flex: 1 1 auto;
	padding: 1.5rem 1.5rem;
	color: #525f7f;
}

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
.copyright {
	color: #e00000;
}

.card-body {
	height: 170px;
	flex: 1 1 auto;
	padding: 1.5rem 1.5rem;
	color: #525f7f;
}

.card-width-full {
	width: 100%;
}

.btn-danger-hover:hover {
	background-color: #f108088b;
	color: aliceblue;
}
.btn-success-hover:hover {
	background-color: chartreuse;
	color: aliceblue;
}

.text-warning-hover:hover {
	background-color: rgb(216, 216, 86);
}

/* Input File */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	font-size: 20px;
	width: 150px;
	height: 50px;
	padding-top: 10px;
	padding-left: 10px;
	/* font-wei#e2dad1700; */
	color: #f2efeb;
	border-radius: 10px;
	background-color: #5cb85c;
	display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: #5bc0de;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.label {
	background-color: #5cb85c;
	color: white;
	padding: 0.5rem;
	font-family: sans-serif;
	border-radius: 0.3rem;
	cursor: pointer;
	margin-top: 1rem;
}

#file-chosen {
	margin-left: 0.3rem;
	font-family: sans-serif;
}

.main-card-body {
	height: 170px;
	flex: 1 1 auto;
	padding: 1.5rem 1.5rem;
	color: #525f7f;
}
.dept-card-body {
	height: 220px;
	flex: 1 1 auto;
	padding: 1.5rem 1.5rem;
	color: #525f7f;
}
